body {
  margin: 0;
  padding: 10px 2% 0 2%;
}

label {
  font-size: 12px;
}

.connect-form input {
  width: 98%;
}

#tgl-rcon {
  width: 20px;
}

.auth-url {
  text-align: right;
  font-size: 12px;
}

.checkbox-container {
  font-size: 12px;
  align-items: baseline;
}

.auth-url p { 
  margin: 0;
  cursor: pointer;
  color: rgb(255, 158, 47);
  text-decoration: underline;
}

#btn-connect {
  width: 98%;
}

.connect-form {
  margin-bottom: 10px;
}

.error-log {
  width: 98%;
  margin-right: 5px;
  height: 25px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.3);
  color: red;
  display: none;
}

.error-log p {
  display: inline;
  padding: 0;
}

.connect-log{
  position: absolute;
  top: 8px;
  left: 10px;
  display: none;
  font-size: 10px;
}

#btn-share {
  position: absolute;
  top: 6px;
  left: 415px;
  display: none;
}

#server-url {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 545px;
  color: rgb(255, 158, 47);
  text-decoration: underline;
  display: none;
}

.connect-log.err {
  color: red;
}

.connect-contents {
  visibility: hidden;
  height: 0;
}

.connect-contents.on {
  visibility: visible;
  margin-top: 25px;
  height: 500px;
  overflow: hidden;
}

.connect-contents .left-contents {
  float: left;
  width: 400px;
  height: 100%;
}

.connect-contents .right-contents {
  float: left;
  width: 304px;
  height: 100%;
}

.button-container button {
  text-align: center;
  width: 100px;
}

.help-tgl * {
  margin: 0;
  font-size: 12px;
}

#containts-info.button-container button {
  margin-bottom: 5px;
}

.player-count {
  overflow: hidden;
}

.player-count>div{
  float: left;
  margin-right: 20px;
}

.rest-member {
  margin-top: 1px;
  width: 100%;
  height: 177px;
}

.rest-member p {
  margin: 0px;
}

.spectator-camera {
  margin: 5px 0 0 0;
}

.spectator-camera>div {
  margin-top: 5px;
}

.spectator-camera>div>button {
  width: 83px;
  margin-right: 10px;
}

.blue-side button {
  background-color: aqua;
}

.orange-side button {
  background-color: gold;
}

#spectator-exp {
  display: flex;
  align-items: baseline;
}

#spectator-exp p {
  display: flex;
  margin: 0 5px 0 0;
}

#spectator-exp div {
  display: flex;
  cursor: pointer;
  margin: 0;
  color: rgb(255, 158, 47);
  text-decoration: underline;
  font-size: 12px;
}

.list-container {
  overflow: auto;
  width: 80%;
  height: 123px;
  border: 2px solid black;
}

#btn-init {
  margin-right: 118px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-rest li{
  cursor: pointer;
}

.list-rest li:hover {
  background-color: rgb(204, 204, 204);
}

.list-rest li:hover::after {
  content: "　：パス";
}

.list-member li{
  cursor: pointer;
}

.list-member li:hover {
  background-color: rgb(204, 204, 204);
}

.list-member li:hover::after {
  content: "　：削除";
}

li {
  padding-left: 10px;
}

.right-contents .member {
  height: 470px;
  width: 300px;
  border: solid 2px black;
  overflow: auto;
}

.add-member {
  height: 26px;
  overflow: hidden;
}

.add-member * {
  float: left;
}

#fm-add-member {
  width: 253px;
  height: 20px;
}